{% extends 'base.html.twig' %}

{% block body %}
    <div id="carouselExampleIndicators" class="carousel slide slide-height" data-ride="carousel">
        <ol class="carousel-indicators">
            <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="3"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="4"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="5"></li>
        </ol>
        <div class="carousel-inner height-100">
            <div class="carousel-item active height-100" id="car1"></div>
            <div class="carousel-item height-100" id="car2"></div>
            <div class="carousel-item height-100" id="car3"></div>
            <div class="carousel-item height-100" id="car4"></div>
            <div class="carousel-item height-100" id="car5"></div>
            <div class="carousel-item height-100" id="car6"></div>
        </div>
        <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>
{% endblock %}