{% extends 'base.html.twig' %}

{% block body %}
  {% if errors %}
    {{ errors.messageKey }}
  {% endif %}
  <div class="container py-5">
    <div class="dark-form-content col-width-50">
      <div class="dark-form-header">
        <h2>Logowanie</h2>
      </div>
      <div class="dark-form-body col-width-100">
        <form action="{{ path('user_login') }}" method="POST">
          <label>Nazwa użytkownika</label>
          <input type="text" class="form-control" placeholder="Nazwa użytkownika" name="_username" value="{{ username }}">
          <label>Hasło</label>
          <input type="password" class="form-control" placeholder="Hasło" name="_password">
          <button class="btn btn-lg light-blue-button btn-block" type="submit">Zaloguj się</button>
        </form>
      </div>
    </div>
  </div>
{% endblock %}