{% extends 'base.html.twig' %}

{% block body %}
  <div class="container rejestracja-padding">
    <div class="dark-form-content  col-width-50">
      <div class="dark-form-header">
        <h2>Rejestracja</h2>
      </div>
      <div class="row kafelki-oferty dark-form-body"> <!-- wyśrodkowanie -->
        <form class="needs-validation mx-auto col-width-100" method="post" novalidate>
          <!-- username -->
          <input type="text" class="form-control" id="username" name="username" placeholder="Nazwa użytkownika" value="" required>
          <!-- password - hasło -->
          <input type="password" class="form-control" id="password" name="password" placeholder="Hasło" value="" required>
          <!-- rpassword - sprawdzenie poprawności wpisanego hasła -->
          <input type="password" class="form-control" id="rpassword" name="rpassword" placeholder="Powtórz hasło" value="" required>
          <!-- email -->
          <input type="email" class="form-control" id="email" placeholder="email (nazwa@gmail.com)" name="email" required>
          <!-- dane opcjonalne -->
          <!-- imie -->
          <input type="imie" class="form-control" id="imie" placeholder="Twoje imię" name="imie">
          <!-- nazwisko -->
          <input type="nazwisko" class="form-control" id="nazwisko" placeholder="Twoje nazwisko" name="nazwisko">
          <!-- ulica -->
          <input type="ulica" class="form-control" id="ulica" placeholder="Ulica oraz numer domu (np. Krakowska 51)" name="ulica">
          <!-- nr mieszkania -->
          <input type="nr_mieszkania" class="form-control" id="nr_mieszkania" placeholder="Numer mieszkania (np. 3)" name="nr_mieszkania">
          <!-- miejscowosc -->
          <input type="miejscowosc" class="form-control" id="miejscowosc" placeholder="Miejscowość (np. Opole)" name="miejscowosc">
          <div class="py-2">
            <button class="btn btn-lg light-blue-button btn-block" type="submit">Zarejestruj</button>
          </div>
        </form>
      </div>
    </div>
  </div>
{% endblock %}